<p-button label="click"(click)="click()">{{msg}}</p-button><br><br>
<p-button (mouseover)="mouseover()">mouse over  me!{{msg}}</p-button><br><br>
<p-button (mouseenter)="mouseenter()">mouse enter me!{{msg}}</p-button><br><br>
<p-button (dblclick)="dblclick()">double click me!{{msg}}</p-button><br><br>
<p-button (mouseleave)="mouseleave()">mouse leave me!{{msg}}</p-button><br><br>
<p-button (mousedown)="mousedown()">mouse down me!{{msg}}</p-button><br><br>
<p-button (mouseup)="mouseup()">mouseup me!{{msg}}</p-button><br><br>
<p-button (mouseup)="drag()">drag me!{{msg}}</p-button><br><br>

<div class="container">
  <div class="row row-cols-4">
<div class="card" style="width: 18rem;" *ngFor="let data of product" >
    <img src="{{data.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Product Name:{{data.product}}</h5>
      <p class="card-text">Cost:{{data.cost}}</p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>
</div>
</div>
<!--Trainee35-->

<div class="container bg-dark text-light">
  <h3>Trainees Record</h3>
  <div class="row align-items-start" *ngFor="let batch of batch">
    <div class="col">
     Name:{{batch.Name}}
    </div>
    <div class="col">
      Age:{{batch.Age}}
    </div>
    <div class="col">
      Gender:{{batch.Gender}}
    </div>
  </div></div>

  <div class="container bg-dark text-light">
  <div class="row align-items-start"  *ngFor="let batch of batch" [ngSwitch]="batch.Gender">
    <div class="col" *ngSwitchCase="'Male'">
      <p style="color: rgb(0, 255, 81)">Male Trainee:</p>
    </div>
    <div class="col" *ngSwitchCase="'Female'">
      <p style="color: red">Female Trainee:</p>
    </div>
    <div class="col" *ngSwitchDefault>
      <p style="color: gray">Other Gender:</p>
    </div>
    
    <p class="col">Name: {{ batch.Name }}</p>
    <p class="col">Age: {{ batch.Age }}</p>
    <p class="col">Gender: {{ batch.Gender }}</p>
  </div>
  </div>

  <!--user details-->
  <div class="container">
    <img src="assets/img/avatar.jpg" alt="User Image" (click)="toggleDetails()">
    <div *ngIf="showDetails">
      <p>Name: {{ user.name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Age: {{ user.age }}</p>
    </div>
  </div>
  