<table>
    <tr>
    <th>EmpName</th>
    <th>Dept</th>
    <th>Age</th>
    <th>Salary</th>
    </tr>
    <tr *ngFor="let Employee of emplist">
        <td>{{Employee.EmpName}}</td>
        <td>{{Employee.Dept}}</td>
        <td>{{Employee.Age}}</td>
        <td>{{Employee.Salary}}</td>
    </tr>
</table>
<!--acecraft-->
<div class="navbar-dark bg-dark">
<div class="nav justify-content-center"><h2 [ngStyle]="{color:color}">acecraft</h2></div>
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" [ngStyle]="{color:color}">SCHOOL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [ngStyle]="{color:color}">COLLEGE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [ngStyle]="{color:color}">ENTERPRICE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [ngStyle]="{color:color}">NOTES&bull;</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" [ngStyle]="{color:color}">AIREN MASK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [ngStyle]="{color:color}"><i class="fa-regular fa-gear-complex"></i></a>
      </li>
  </ul>
</div>