<div class="container">
    <div class=" card justify-content-center">
        <div class="row container">
            <form [formGroup]="react_form" (ngsubmit)="onSubmit(react_form)">
                <div class="form-group">
                    <div class="text-center">
                        <h3>Reactive Form</h3>
                    </div>
                    <div>
                        <label>Username:</label> <input type="text" class="form-control" placeholder="Enter your username" formControlName="username" [ngClass]="{'is-invalid':username.errors &&
                    (username.touched || username.dirty),'is-valid': username.valid}" required/>

                        <div class="invalid-feedback">

                            <strong *ngIf="username.errors?.required">Username is required</strong>
                            <strong *ngIf="username.errors?.minlength">Username length must be greater than
                            {{ username.errors?.minlength.requiredLength }} characters.
                            {{username.errors?.minlength.requiredLength -username.errors?.minlength.actualLength}}more characters required.
                        </strong>
                            <strong *ngIf="username.errors?.maxlength">Username length must be less than 17 characters
                        </strong>
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="password">password:</label> <input type="password" class="form-control" placeholder="Enter your password" formControlName="password" [ngClass]="{'is-invalid':password.errors &&
                        (password.touched || password.dirty),'is-valid': password.valid}" required/>
                        <div class="invalid-feedback">
                            <strong *ngIf="password.errors?.required">password required</strong>
                            <strong *ngIf="password.errors?.minlength">password length must be greater than
                                {{ password.errors?.minlength.requiredLength }} characters.
                                {{password.errors?.minlength.requiredLength -password.errors?.minlength.actualLength}}more characters required.
                            </strong>
                            <strong *ngIf="password.errors?.maxlength">password length must be less than 17 characters{{password.errors?.maxlength.actualLength -password.errors?.maxlength.requiredLength}}more than 17 characters.
                            </strong>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-success mb-3" (click)="onSubmit(react_form)">Submit</button>
                </div>

            </form>

        </div>
    </div>
</div>